body{
    padding:20px;
    background-color:plum;
}
.project_section{
    width:150%;
    margin:20px;
}
.project_heading{
    color:olive;
    font-size:80px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.project_description{
    color:olive;
    font-size:40px;
    display: table-row;
    width: -webkit-fill-available;
   
}

.fit-picture{
    width:1200px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h3{
    color:gray;
}